{% set page = { 
  name: 'features_detail',
  title: item.fields.title
  } %}
{% include "layout/header/_header.html" %}

<div class="detail item container">
  <ul class="breadcrumbs">
    <li><a href="/features">Features</a></li>
    <li>{{item.fields.title}}</li>
  </ul>
  <div class="detail__header">
      <img class="detail__image" src="{{item.fields.image.sizes.w420}}" alt="{{item.fields.title}}">
    <h1>{{item.fields.title}}</h1>
  </div>
  <div class="detail__body">
     {{item.fields.body | safe}}
  </div>
</div>

{% include "layout/footer/_footer.html" %}